In [3]:
import pandas as pd

girls = pd.DataFrame({
    'Name': ['Samantha','Jada','Jane','Claire','Elizabeth','Mary','Susan','Waje','Taibat','Lilian'],
    'Age':[17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    'Height':[5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    'Score': [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]})
boys = pd.DataFrame({
    'Name': ['Charles','Jude','James','Kelvin','Biodun','Wale','Kunle','Matthew','Tom','Kayode'],
    'Age':[19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    'Height':[5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    'Score': [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]})
print("\nGirls Table")
print(girls.to_string(index=False))
print("\nBoys Table")
print(boys.to_string(index=False))

NameError: name 'pd' is not defined